@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
  outline: none;
}

strong {
  font-weight: 600;
}

.page {
  width: 100%;
  height: 100vh;
  background: #fdfdfd;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #272727;
}

header {
	 font-size: 30px;
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #8D6DC8;
  color: #272727;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
  padding: 100px 20px 0;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #8D6DC8;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #272727;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #272727;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #8D6DC8;
}

#nav-content li a.active {
  color: #8D6DC8;
}


#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}


.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, minmax(100px, 200px));
  grid-gap: 1rem;
  grid-auto-flow: column;
}

.grid-item {
  background: #8D6DC8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-large {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background: #6b6b6b;
}
.aa {
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  background: #6b6b6b;
  align-items:start !important;
}
.bb {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background: #6b6b6b;
}
.cc {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  background: #6b6b6b;
}

/* .grid-item:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.grid-item:nth-child(2) {
  grid-column: 1 / span 2;
  grid-row: 2;
} */

.featured-top {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background: #6b6b6b;
}
.featured-bottom {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  background: #6b6b6b;
}

.bar-chart{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -0%); width: 550px; height: 200px; border-bottom: 1px solid #000; border-left: 1px solid #000; display: flex; color: #fff;}
.skill{ position: relative; flex:1; text-align: center;}
.graph{ position: absolute; width: 40px; background: rgba(0,0,0,.1); bottom: 0; left: 50%; transform: translateX(-50%);}
.graph:before{ content: ''; position: absolute; top: 0; bottom: 0; top: 2px; left: 2px; right: 2px; background: linear-gradient(0deg, #8d6dc8, #272727);}
.graph:after{ content: ''; position: absolute; left: 0; top: 0; bottom: 0; width: 50%; background: rgba(255,255,255,.1);}
.name{ position: absolute; bottom: -30px; text-align: center; left:50%; transform: translateX(-50%); font-size: 14px; border-radius: 3px; color: #fff; padding: 2px 6px;}
.percentage{position: absolute; top: -20px; text-align: center; left:0; right: 0; font-size: 15px; font-weight: 700;}


