@import
	url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600')
	;

* {
	outline: none;
}

strong {
	font-weight: 600;
}

.page {
	width: 100%;
	height: 100vh;
	background: #fdfdfd !important;
	font-family: 'Encode Sans Condensed', sans-serif;
	font-weight: 600 !important;
	letter-spacing: .03em !important;
	color: #272727 !important;
}

header {
	font-size: 30px;
	display: flex !important;
	position: fixed !important;
	width: 100%;
	height: 70px;
	background: #8D6DC8;
	color: #272727;
	justify-content: center;
	align-items: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
	padding: 100px 0px 0;

	height: 100%;
}

main>div {
	margin: auto !important;
	width: 1000px !important;
}

main h2 span {
	color: #8D6DC8 !important;
}

main p {
	line-height: 1.5 !important;
	font-weight: 200 !important;
	margin: 20px 0 !important;
}

main small {
	font-weight: 300 !important;
	color: #888 !important;
}

#nav-container {
	position: fixed !important;
	height: 100vh !important;
	width: 100% !important;
	pointer-events: none !important;
}

#nav-container .bg {
	position: absolute !important;
	top: 70px !important;
	left: 0 !important;
	width: 100% !important;
	height: calc(100% - 70px) !important;
	visibility: hidden !important;
	opacity: 0 !important;
	transition: .3s !important;
	background: #272727 !important;
}

#nav-container:focus-within .bg {
	visibility: visible !important;
	opacity: .6 !important;
}

#nav-container * {
	visibility: visible !important;
}

.button {
	position: relative !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	z-index: 1 !important;
	-webkit-appearance: none !important;
	border: 0 !important;
	background: transparent !important;
	border-radius: 0 !important;
	height: 70px !important;
	width: 30px !important;
	cursor: pointer !important;
	pointer-events: auto !important;
	margin-left: 25px !important;
	touch-action: manipulation !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.icon-bar {
	display: block !important;
	width: 100% !important;
	height: 3px !important;
	background: #272727 !important;
	transition: .3s !important;
}

.icon-bar+.icon-bar {
	margin-top: 5px !important;
}

#nav-container:focus-within .button {
	pointer-events: none !important;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
	transform: translate3d(0, 8px, 0) rotate(45deg) !important;
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
	opacity: 0 !important;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
	transform: translate3d(0, -8px, 0) rotate(-45deg) !important;
}

#nav-content {
	margin-top: 70px !important;
	padding: 10px !important;
	width: 100% !important;
	width: 300px !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	height: calc(100% - 70px) !important;
	background: #ececec !important;
	pointer-events: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	transform: translateX(-100%);
	transition: transform .3s;
	will-change: transform !important;
	contain: paint !important;
}

#nav-content ul {
	height: 100% !important;
	display: flex !important;
	flex-direction: column !important;
}

#nav-content li a {
	padding: 10px 5px !important;
	display: block !important;
	text-transform: uppercase !important;
	transition: color .1s !important;
}

#nav-content li a:hover {
	color: #8D6DC8;
}

#nav-content li a.active {
	color: #8D6DC8 !important;
}

#nav-content li:not(.small)+.small {
	margin-top: auto !important;
}

.small {
	display: flex !important;
	align-self: center !important;
}

.small a {
	font-size: 12px;
	font-weight: 400;
	color: #888;
}

.small a+a {
	margin-left: 15px;
}

#nav-container:focus-within #nav-content {
	transform: none !important;
}

* {
	box-sizing: border-box !important;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a, a:visited, a:focus, a:active, a:link {
	text-decoration: none !important;
	outline: 0 !important;
}

a {
	color: currentColor !important;
	transition: .2s ease-in-out !important;
}

h1, h2, h3, h4 {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

img {
	vertical-align: middle;
	height: auto;
	width: 100%;
}

#canvas {
	margin: 10px;
	padding:10px;
    width: 600px !important;
    height: 300px !important;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, minmax(100px, 200px));
  grid-gap: 1rem;
  grid-auto-flow: column;
}

.grid-item {
  background: #a4a4a4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.featured-large {
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
  padding:10px;

  

}

.featured-large-cc {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  align-items:center;

}


.featured-large-down {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
  background: #6b6b6b;
  align-items:center;
}


.featured-large-a {
  grid-column: 3 / span 1;
  grid-row: 2/ span 1;
  background: #6b6b6b;
  align-items:center;
}



.featured-large-b {
  grid-column: 3 / span 1;
  grid-row: 1/ span 1;
  background: #6b6b6b;
  align-items:center;
}


/* .grid-item:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.grid-item:nth-child(2) {
  grid-column: 1 / span 2;
  grid-row: 2;
} */

.featured-top {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background: #6b6b6b;
  align-items:center;
}
.featured-bottom {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  background: #6b6b6b;
  align-items:center;
}


.container {
	 padding: 2rem 0rem;
}
 h4 {
	 margin: 2rem 0rem 1rem;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}