body {
	  margin: 0;
  font-family: "Lato", sans-serif;
}

.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
}

.nav {
	background: #8D6DC8;
}

.nav title{
	margin: 100px 30px;
	display: inline-block;
}

.nav item{
	display: inline-block;
		margin: 100px 30px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #212121;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #616161;
  color: white;
}

.webapp {
  padding: 3px;
  background-color: #212121;
  color: #5b5b5b;
}

.sidebar a:hover:not(.active) {
  background-color: #8D6DC8;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}