<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/farmer.css" th:href="@{/css/forum.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<title>Forum</title>
</head>
<body>
	<div class="page">
		<header tabindex="0">D.R.E.A.M.</header>
		<div id="nav-container">
			<div class="bg"></div>
			<div class="button" tabindex="0">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</div>
			<div id="nav-content" tabindex="0">
				<ul>
					<li><a th:href="@{/HomeFarmer}">Home</a></li>
					<li><a th:href="@{/Production}">Insert Production</a></li>
					<li><a th:href="@{/HomeFarmer}">Requests</a></li>
					<li><a class="active" th:href="@{/Forum}">Forum</a></li>
					<li><a th:href="@{/Logout}">Logout</a></li>
					<li class="small"><p
							th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p></li>
				</ul>
			</div>
		</div>

		<main>
			<div class="content">
				<div class="grid-wrapper">
					<div class="grid-item featured-large">
						<div class="container">
							<h1 class="center">Forum</h1>
							<th:block th:if="${forum.equals('false')}">
								<div class="wrapper">
									<a th:href="@{/Forum}" class="btn btn-primary"
										style="margin: auto;">Go back to discussions list</a>
								</div>
							</th:block>
							<p class="error_text" th:text=" ${errorMsg}"></p>
							<div class="row">
								<div class="col-12">

									<th:block th:if="${forum.equals('true')}">

										<div class="row">
											<div class="col-lg-10 mx-auto">
												<div class="career-search mb-60">

													<form th:action="@{/Forum}" method="POST"
														class="career-form mb-60">

														<div class="row2">
															<div class="col-md-6 col-lg-3 my-3">
																<div class="input-group position-relative">
																	<input type="text" name="title" class="form-control"
																		placeholder="Enter Your Ttile" id="keywords" required>
																</div>
															</div>
															<div class="col-md-6 col-lg-3 my-3">
																<div class="input-group position-relative">
																	<input type="text" name="comment" class="form-control"
																		placeholder="Enter First Post" id="keywords" required>
																</div>
															</div>

															<div class="col-md-6 col-lg-3 my-3">
																<button type="submit" value="Create Discussion"
																	class="btn btn-lg btn-block btn-light btn-custom"
																	style="font-size: 14px" id="contact-submit">Create
																	Discussion</button>
															</div>


														</div>


													</form>
													<th:block th:if="${discussions != null}">
														<div class="filter-result">
															<p class="mb-30"></p>
															<div th:each="d : ${discussions}">
																<div
																	class="job-box d-md-flex align-items-center justify-content-between mb-30">
																	<div
																		class="job-left my-4 d-md-flex align-items-center flex-wrap">

																		<div class="t">
																			<h5 class="text-center text-md-left"
																				th:text="${d.title}"></h5>

																		</div>
																	</div>
																	<div class="job-right my-4 flex-shrink-0">
																		<a th:href="@{/Post(discussion=${d.id})}"
																			class="btn d-block w-100 d-sm-inline-block btn-light">View</a>
																	</div>
																</div>
															</div>

														</div>
													</th:block>
												</div>

											</div>
										</div>

									</th:block>


									<th:block th:if="${forum.equals('false')}">

										<div class="container mt-5 mb-5">
											<div class="d-flex justify-content-center row">
												<div class="d-flex flex-column col-md-8">
													<div
														class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
														<div class="profile-image"></div>
														<br />
														<div class="d-flex flex-column ml-3">
															<div class="d-flex flex-row post-title">
																<h4 th:text="${discussion.title}"></h4>
																<span
																	th:text="${'Author: ' + discussion.user.name + ' ' + discussion.user.surname}"
																	class="ml-2"></span>
															</div>
														</div>
													</div>

													<div class="coment-bottom bg-white p-2 px-4">
														<form th:action="@{/Post}" method="POST">
															<div
																class="d-flex flex-row add-comment-section mt-4 mb-4">

																<input type="text" name="comment"
																	class="form-control mr-3" placeholder="Add post">
																<button type="submit" value="Comment"
																	class="btn btn-primary">Create</button>
																<input type="hidden" name="discussion"
																	th:value="${discussion.id}">
															</div>
														</form>
														<th:block th:if="${discussion.posts != null}">
															<div th:each="p : ${discussion.posts}">
																<div class="commented-section mt-2">
																	<div
																		class="d-flex flex-row align-items-center commented-user">
																		<h5 th:text="${p.user.name + ' ' + p.user.surname}"
																			class="mr-2"></h5>
																		<span class="dot mb-1"></span><span
																			th:text="${#dates.format(p.datehour, 'dd-MMM-yyyy HH:mm')}"
																			class="mb-1 ml-2"></span>
																	</div>
																	<div th:text="${p.comment}" class="comment-text-sm">
																	</div>

																</div>
																<br /> <br />
															</div>
														</th:block>

													</div>
												</div>
											</div>

										</div>
									</th:block>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>