<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/policymaker.css" th:href="@{/css/policymaker.css}" />
<link rel="shortcut icon" type="image/x-icon"
	href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
<link rel="mask-icon"
	href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg">
<link rel="canonical" href="https://codepen.io/ericmahoney/pen/oNLMOYw">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<title>Policy Maker - Home</title>
</head>

<body>
	<div class="page">
		<header tabindex="0">D.R.E.A.M.</header>
		<div id="nav-container">
			<div class="bg"></div>
			<div class="button" tabindex="0">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</div>
			<div id="nav-content" tabindex="0">
				<ul>
					<li><a class="active" th:href="@{/HomePolicyMaker}">Home</a></li>
					<li><a th:href="@{/RankingPage}">Ranking</a></li>
					<li><a th:href="@{/Logout}">Logout</a></li>
					<li class="small"><p
							th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p></li>
				</ul>
			</div>
		</div>
		<main>
			<div class="content">
				<p class="error_text" th:text=" ${errorMsg}"></p>
				<div class="grid-wrapper">
					<div class="grid-item featured-large-cc center"
						th:utext="${#strings.replace('Best Farmer:\n' + bestFarmer, '\n', '<br />')}"></div>
					<div class="grid-item featured-large-down center"
						th:utext="${#strings.replace('Worst Farmer:\n' + worstFarmer, '\n', '<br />')}"></div>

					<div class="grid-item featured-top">
						<h2>Production summary (12 months)</h2>
						<div>
							<canvas id="canvas"></canvas>
						</div>
					</div>
					<div class="grid-item featured-large-a center"
						th:utext="${#strings.replace('Best Area:\n' + bestArea, '\n', '<br />')}"></div>

					<div class="grid-item featured-large-b center"
						th:utext="${#strings.replace('Worst Area:\n' + worstArea, '\n', '<br />')}"></div>
				</div>
				<p></p>
			</div>
		</main>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
	
	<script th:inline="javascript">
		var dataM = /*[[${months}]]*/"";
		var dataV = /*[[${summary}]]*/"";
		
		var ctx = document.getElementById("canvas");
		const datasets = generateDataset(dataV);
		const myChart = new Chart(ctx, {
		    type: 'line',
		    data: {
		        labels: dataM,
		        datasets: datasets,
		    },
		    options: {
		        scales: {
		            y: {
		                beginAtZero: true
		            }
		        },          
		    },
		    
		});
		
		function generateDataset(dataV) {
			var Areas = []
			var dataSets = []
			for(let area of dataV){
				const areaName = area.areaName
				const values = area.values
				Areas[areaName] = values
			}
			for(let areaN in Areas){
				const randomcolor = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);
				const dataset = {
					backgroundColor : randomcolor,
					data : Areas[areaN],
					pointRadius: 6,
					pointHoverRadius: 12,
					label: areaN,
					borderWidth: 3,
					borderColor : randomcolor,
					pointBorderColor : "grey",
					pointBorderWidth : 1
				}
				dataSets.push(dataset)
			}
			return dataSets
		}
	</script>

</body>
</html>
