<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/farmer.css" th:href="@{/css/farmer.css}" />
<title>Home Farmer</title>
</head>
<body>
	<div class="page">
		<header tabindex="0">D.R.E.A.M.</header>
		<div id="nav-container">
			<div class="bg"></div>
			<div class="button" tabindex="0">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</div>
			<div id="nav-content" tabindex="0">
				<ul>
					<li><a class="active" th:href="@{/HomeFarmer}">Home</a></li>
					<li><a th:href="@{/Production}">Production</a></li>
					<li><a th:href="@{/Request}">Requests</a></li>
					<li><a th:href="@{/Forum}">Forum</a></li>
					<li><a th:href="@{/Logout}">Logout</a></li>
					<li class="small"><p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p></li>
				</ul>
			</div>
		</div>

		<main>
			<div class="content">
			<p class="error_text" th:text=" ${errorMsg}"></p>
				<div class="grid-wrapper">
				
					<th:block th:if="${forecast != null}">
					<div class="grid-item featured-large center" th:utext="${#strings.replace('Today weather forecast:<br />' + forecast.classification + '<br />Value(mm): ' + forecast.value, '_', ' ')}"></div>
					</th:block>
					<th:block th:if="${forecast == null}">
					<div class="grid-item featured-large center">Today weather forecast:<br />Not available data</div>
					</th:block>
					
					<div class="grid-item featured-large-aa">
						<h2>Yearly Production Summary</h2>
						<div >
							<canvas id="canvas"></canvas>
						</div>
					</div>
					
					<th:block th:if="${humidity != null}">
		        		<div class="grid-item bb center" th:utext="${#strings.replace('Today humidity of soil:<br />' + humidity.classification, '_', ' ')}"></div>
		        	</th:block>
		        	<th:block th:if="${humidity == null}">
		        		<div class="grid-item bb center">Today humidity of soil:<br />Not available data</div>
		        	</th:block>
					
					<div class="grid-item cc center" th:utext="'This year water consumption:<br />Value(L): '+ ${#numbers.formatDecimal(waterConsumption, 0, 0)}"></div>

				</div>
			</div>
		</main>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
	<script th:inline="javascript">
	var dataM = /*[[${months}]]*/"";
	var dataV = /*[[${summary}]]*/"";
	
	var ctx = document.getElementById("canvas");
	var chart = new Chart(ctx, {
	  type: "bar",
	  data: {
	    labels: dataM,
	    datasets: [
	      {
	        type: "bar",
	        backgroundColor: "rgba(54, 162, 235, 0.2)",
	        borderColor: "rgba(54, 162, 235, 1)",
	        borderWidth: 2,
	        label: dataV.name,
	        data: dataV.values
	      }
	    ],
	  },
	  options: {  
		    responsive: true,
		    maintainAspectRatio: false
		}
	});


	</script>
</body>
</html>