<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/farmer.css" th:href="@{/css/farmer.css}" />
<title>Home Farmer</title>
</head>
<body>
	<div class="page">
		<header tabindex="0">D.R.E.A.M.</header>
		<div id="nav-container">
			<div class="bg"></div>
			<div class="button" tabindex="0">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</div>
			<div id="nav-content" tabindex="0">
				<ul>
					<li><a class="active" href="#0">Home</a></li>
					<li><a href="#0">Insert Production</a></li>
					<li><a href="#0">Requests List</a></li>
					<li><a href="#0">Create Request</a></li>
					<li><a href="#0">Forum</a></li>
					<li><a th:href="@{/Logout}">Logout</a></li>
					<li class="small"><p
							th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p></li>
				</ul>
			</div>
		</div>

		<main>
			<div class="content">
				<div class="grid-wrapper">
  <div class="grid-item featured-large">Regular Content A</div>
  <div class="grid-item">Regular Content B</div>
  
  <div class="grid-item">Regular Content D</div>
  <div class="grid-item">Regular Content E</div>
  <div class="grid-item featured-top">Featured Content F</div>
  <div class="grid-item">Regular Content G</div>
  <div class="grid-item">Regular Content H</div>
  <div class="grid-item">Regular Content I</div>
  <div class="grid-item">Regular Content J</div>
  <div class="grid-item">Regular Content K</div>
  <div class="grid-item">Regular Content L</div>
</div>
			</div>
		</main>
	</div>

</body>
</html>