<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/policymaker.css" th:href="@{/css/policymaker.css}" />
<link rel="shortcut icon" type="image/x-icon"
	href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
<link rel="mask-icon"
	href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg">
<link rel="canonical" href="https://codepen.io/ericmahoney/pen/oNLMOYw">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<title>Farmer - Production</title>
</head>
<body>
	<div class="page">
		<header tabindex="0">D.R.E.A.M.</header>
		<div id="nav-container">
			<div class="bg"></div>
			<div class="button" tabindex="0">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</div>
			<div id="nav-content" tabindex="0">
				<ul>
					<li><a th:href="@{/HomeFarmer}">Home</a></li>
					<li><a class="active" th:href="@{/Production}">Production</a></li>
					<li><a th:href="@{/Request}">Requests</a></li>
					<li><a th:href="@{/Forum}">Forum</a></li>
					<li><a th:href="@{/Logout}">Logout</a></li>
					<li class="small"><p
							th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p></li>
				</ul>
			</div>
		</div>
		<main>
			<div class="content">
				<div class="grid-wrapper">
					<div class="grid-item featured-large">
						<div class="container">
							<h1 class="center">Production</h1>
							<p class="error_text" th:text=" ${errorMsg}"></p>
							<div class="row">
								<div class="col-12">
									<form id="filter_form" action="#" th:action="@{/Production}"
										method="POST"></form>
									<table>
										<thead>
											<tr>
												<th class="center">Type of Product</th>
												<th class="center">Date</th>
												<th class="center">Amount (kg)</th>
												<th class="center">Problems Faced</th>
												<th class="center"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="center"><select name="type"
													form="filter_form" required>
														<option th:each="t : ${types}" th:value="${t.value}"
															th:text="${t.toString()}">
												</select></td>
												<td class="center"><input type="date" name="date"
													form="filter_form"></td>
												<td class="center"><input type="number" min="1"
													name="amount" form="filter_form" value="0" required></td>
												<td class="center"><input type="text" name="problem"
													form="filter_form" value="Everything OK!" required></td>
												<td class="center"><button
														style="height: 20px; width: 60px" form="filter_form">Insert Production</button></td>
											</tr>
										</tbody>
									</table>
									<br>
									<table>
										<thead>
											<tr>
												<th class="center">Type of Product</th>
												<th class="center">Date</th>
												<th class="center">Amount (kg)</th>
												<th class="center">Problems Faced</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="p : ${productions}">
												<th class="center" th:text="${p.typeofproduct}"></th>
												<th class="center"
													th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}"></th>
												<td class="center" th:text="${p.amount}"></td>
												<td class="center" th:text="${p.comment}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<p>*You can leave date empty to insert today production.</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script
		src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</body>
</html>