<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/policymaker.css" th:href="@{/css/policymaker.css}" />
<link rel="shortcut icon" type="image/x-icon"
	href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
<link rel="mask-icon"
	href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg">
<link rel="canonical" href="https://codepen.io/ericmahoney/pen/oNLMOYw">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<title>Policy Maker - Ranking</title>
</head>

<body>
	<div class="page">
		<header tabindex="0">D.R.E.A.M.</header>
		<div id="nav-container">
			<div class="bg"></div>
			<div class="button" tabindex="0">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</div>
			<div id="nav-content" tabindex="0">
				<ul>
					<li><a th:href="@{/HomePolicyMaker}">Home</a></li>
					<li><a class="active" th:href="@{/RankingPage}">Ranking</a></li>
					<li><a th:href="@{/Logout}">Logout</a></li>
					<li class="small"><p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p></li>
				</ul>
			</div>
		</div>
		<main>
			<div class="content">
				<div class="grid-wrapper">
					<div class="grid-item featured-large">Best Farmer</div>
					<div class="grid-item featured-large-down">Regular Content B</div>

					<div class="grid-item featured-top">
						<h2>Farmer production summary</h2>
						<div>
							<canvas id="canvas"></canvas>
						</div>
					</div>
					<div class="grid-item featured-large-a">Worst Overall Area</div>
					<div class="grid-item featured-large-b">Best Overall Area</div>
				</div>
				<p></p>
			</div>
		</main>
	</div>
</body>
</html>
