<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
id="WebApp_ID" version="4.0">
<display-name>Se2_Bertelli_Savino_Vinati_Web</display-name>
<filter> 
	<filter-name>LoginChecker</filter-name> 
	<filter-class>filters.LoggedIn</filter-class> 
</filter>
<filter-mapping> 
    <filter-name>LoginChecker</filter-name>
    <url-pattern>/HomePolicyMaker</url-pattern>
    <url-pattern>/GoToHomeAgronomist</url-pattern>
    <url-pattern>/GoToHomeFarmer</url-pattern>
    <url-pattern>/RankingPage</url-pattern>
    <url-pattern>/Logout</url-pattern>
</filter-mapping>
  <welcome-file-list>
    <welcome-file>GoToLoginPage</welcome-file>
  </welcome-file-list>
</web-app>